.card {
	background-color: var(--white);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	background-color: var(--white);
	overflow: hidden;
	transition: transform 200ms ease-in-out;
	cursor: pointer;
	&:hover {
		transform: translateY(-5px);
	}
	&__flag {
		height: 160px;
		width: 100%;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__details {
		display: flex;
		flex-direction: column;
		padding: 30px 25px;
		span {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	&__name {
		font-size: 18px;
		font-weight: var(--font-extra-bold);
		margin-bottom: 25px;
	}
	&__stat {
		strong {
			font-weight: var(--font-semi-bold);
		}
		&:not(:last-of-type) {
			margin-bottom: 8px;
		}
	}
}
