.detail-page {
	.content-wrapper {
		max-width: 1340px;
		padding-left: 30px;
		padding-right: 30px;
		margin: 0 auto;
	}
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 160px 0 50px 0;
	width: 100%;
	background-color: var(--white);
	height: 100vh;
	overflow: auto;
	.button {
		height: 40px;
		width: 138px;
		border-radius: var(--border-radius);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 80px;
		box-shadow: var(--box-shadow);
		cursor: pointer;
		background-color: var(--white);
	}
	&__sections {
		display: flex;
		// outline: 1px solid red;
		min-height: 400px;
		gap: 40px;
		& > div {
			// outline: 1px dashed blue;
			flex: 1;
		}
		strong {
			font-weight: var(--font-semi-bold);
		}
	}
	&__flag {
		position: relative;
		max-height: 400px;
		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
			filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.16));
		}
	}
	&__name {
		display: block;
		margin-top: 40px;
		font-weight: var(--font-extra-bold);
		font-size: 32px;
	}
	&__grid {
		margin: 40px 0 80px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px 20px;
		span {
			line-height: 135%;
		}
	}
	.border-countries {
		display: flex;
		strong {
			flex-shrink: 0;
			margin: 6px 8px 0 0;
		}
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
		&__country {
			display: flex;
			flex: 1;
			max-width: 100px;
			justify-content: center;
			align-items: center;
			box-shadow: var(--box-shadow);
			font-size: 14px;
			padding: 8px 0;
			background-color: var(--white);
			border-radius: var(--border-radius);
			cursor: pointer;
			span {
				padding: 0 10px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
}
